{% include "includes/header.html" %}

  <!-- Page content -->
  <main class="content-wrapper">

    <!-- Hero -->
    <section class="position-relative pb-5" style="margin-top: -76px; padding-top: 76px">
      <div class="container position-relative z-1 py-md-3 py-lg-4 py-xl-5">

        <!-- Title -->
        <div class="row pt-4 pt-sm-5 pb-4 pb-md-5 my-2 mt-sm-0 mb-sm-3 mb-md-0 mb-xl-2 mb-xxl-4">
          <div class="col-xl-10 pt-xxl-2">
            <h1 class="display-3 mb-md-4">Empowering Startups to Thrive</h1>
            <p class="fs-lg mb-0">Discover innovative products and services from emerging startups. Connect with
              entrepreneurs and find your partner.</p>
          </div>
        </div>

        <!-- Categories -->
        <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-6 g-4 g-lg-3 g-xl-4 pb-2 mb-4">
          <div class="col">
            <a class="vstack position-relative animate-underline hover-effect-scale rounded-4 overflow-hidden text-dark-emphasis fw-medium text-decoration-none"
              href="shop-catalog-marketplace.html">
              <div class="ratio z-2 overflow-hidden" style="--cz-aspect-ratio: calc(130 / 196 * 100%)">
                <img src="https://cartzilla-html.createx.studio/assets/img/home/marketplace/categories/01.jpg"
                  class="hover-effect-target" alt="Image">
              </div>
              <div class="position-relative z-2 text-center py-3">
                <div class="animate-target d-inline">Vecrots</div>
              </div>
              <span class="position-absolute top-0 start-0 w-100 h-100 bg-white d-none-dark"></span>
              <span class="position-absolute top-0 start-0 w-100 h-100 bg-white d-none d-block-dark"
                style="opacity: .07"></span>
            </a>
          </div>
          <div class="col">
            <a class="vstack position-relative animate-underline hover-effect-scale rounded-4 overflow-hidden text-dark-emphasis fw-medium text-decoration-none"
              href="shop-catalog-marketplace.html">
              <div class="ratio z-2 overflow-hidden" style="--cz-aspect-ratio: calc(130 / 196 * 100%)">
                <img src="https://cartzilla-html.createx.studio/assets/img/home/marketplace/categories/02.jpg"
                  class="hover-effect-target" alt="Image">
              </div>
              <div class="position-relative z-2 text-center py-3">
                <div class="animate-target d-inline">Photos</div>
              </div>
              <span class="position-absolute top-0 start-0 w-100 h-100 bg-white d-none-dark"></span>
              <span class="position-absolute top-0 start-0 w-100 h-100 bg-white d-none d-block-dark"
                style="opacity: .07"></span>
            </a>
          </div>
          <div class="col">
            <a class="vstack position-relative animate-underline hover-effect-scale rounded-4 overflow-hidden text-dark-emphasis fw-medium text-decoration-none"
              href="shop-catalog-marketplace.html">
              <div class="ratio z-2 overflow-hidden" style="--cz-aspect-ratio: calc(130 / 196 * 100%)">
                <img src="https://cartzilla-html.createx.studio/assets/img/home/marketplace/categories/03.jpg"
                  class="hover-effect-target" alt="Image">
              </div>
              <div class="position-relative z-2 text-center py-3">
                <div class="animate-target d-inline">3D illustrations</div>
              </div>
              <span class="position-absolute top-0 start-0 w-100 h-100 bg-white d-none-dark"></span>
              <span class="position-absolute top-0 start-0 w-100 h-100 bg-white d-none d-block-dark"
                style="opacity: .07"></span>
            </a>
          </div>
          <div class="col">
            <a class="vstack position-relative animate-underline hover-effect-scale rounded-4 overflow-hidden text-dark-emphasis fw-medium text-decoration-none"
              href="shop-catalog-marketplace.html">
              <div class="ratio z-2 overflow-hidden" style="--cz-aspect-ratio: calc(130 / 196 * 100%)">
                <img src="https://cartzilla-html.createx.studio/assets/img/home/marketplace/categories/04.jpg"
                  class="hover-effect-target" alt="Image">
              </div>
              <div class="position-relative z-2 text-center py-3">
                <div class="animate-target d-inline">AI images</div>
              </div>
              <span class="position-absolute top-0 start-0 w-100 h-100 bg-white d-none-dark"></span>
              <span class="position-absolute top-0 start-0 w-100 h-100 bg-white d-none d-block-dark"
                style="opacity: .07"></span>
            </a>
          </div>
          <div class="col">
            <a class="vstack position-relative animate-underline hover-effect-scale rounded-4 overflow-hidden text-dark-emphasis fw-medium text-decoration-none"
              href="shop-catalog-marketplace.html">
              <div class="ratio z-2 overflow-hidden" style="--cz-aspect-ratio: calc(130 / 196 * 100%)">
                <img src="https://cartzilla-html.createx.studio/assets/img/home/marketplace/categories/05.jpg"
                  class="hover-effect-target" alt="Image">
              </div>
              <div class="position-relative z-2 text-center py-3">
                <div class="animate-target d-inline">Templates</div>
              </div>
              <span class="position-absolute top-0 start-0 w-100 h-100 bg-white d-none-dark"></span>
              <span class="position-absolute top-0 start-0 w-100 h-100 bg-white d-none d-block-dark"
                style="opacity: .07"></span>
            </a>
          </div>
          <div class="col">
            <a class="vstack position-relative animate-underline hover-effect-scale rounded-4 overflow-hidden text-dark-emphasis fw-medium text-decoration-none"
              href="shop-catalog-marketplace.html">
              <div class="ratio z-2 overflow-hidden" style="--cz-aspect-ratio: calc(130 / 196 * 100%)">
                <img src="https://cartzilla-html.createx.studio/assets/img/home/marketplace/categories/06.jpg"
                  class="hover-effect-target" alt="Image">
              </div>
              <div class="position-relative z-2 text-center py-3">
                <div class="animate-target d-inline">Mockups</div>
              </div>
              <span class="position-absolute top-0 start-0 w-100 h-100 bg-white d-none-dark"></span>
              <span class="position-absolute top-0 start-0 w-100 h-100 bg-white d-none d-block-dark"
                style="opacity: .07"></span>
            </a>
          </div>
        </div>

        <!-- Formats -->
        <div class="d-sm-flex align-items-center gap-4 pb-2 pb-sm-4">
          <h2 class="fs-sm fw-medium mb-sm-0">Browse by most popular formats</h2>
          <div class="d-flex gap-3">
            <a class="ratio ratio-1x1 d-flex flex-shrink-0" href="#!" style="width: 20px">
              <img src="https://cartzilla-html.createx.studio/assets/img/home/marketplace/formats/figma.png"
                alt="Figma">
            </a>
            <a class="ratio ratio-1x1 d-flex flex-shrink-0" href="#!" style="width: 20px">
              <img src="https://cartzilla-html.createx.studio/assets/img/home/marketplace/formats/framer.png"
                alt="Framer">
            </a>
            <a class="ratio ratio-1x1 d-flex flex-shrink-0" href="#!" style="width: 20px">
              <img src="https://cartzilla-html.createx.studio/assets/img/home/marketplace/formats/illustrator.png"
                alt="Illustrator">
            </a>
            <a class="ratio ratio-1x1 d-flex flex-shrink-0" href="#!" style="width: 20px">
              <img src="https://cartzilla-html.createx.studio/assets/img/home/marketplace/formats/webflow.png"
                alt="Webflow">
            </a>
            <a class="ratio ratio-1x1 d-flex flex-shrink-0" href="#!" style="width: 20px">
              <img src="https://cartzilla-html.createx.studio/assets/img/home/marketplace/formats/photoshop.png"
                alt="Photoshop">
            </a>
          </div>
        </div>
      </div>

      <!-- Background -->
      <div class="position-absolute top-0 start-0 w-100 h-100 d-none-dark"
        style="background: linear-gradient(90deg, rgba(203,201,233, .6) 0%, rgba(227,232,251, .6) 50%, rgba(255,224,244, .6) 100%)">
      </div>
      <div class="position-absolute top-0 start-0 w-100 h-100 d-none d-block-dark"
        style="background: linear-gradient(90deg, rgba(51,51,59, .6) 0%, rgba(44,48,62, .6) 50%, rgba(57,43,52, .6) 100%)">
      </div>
    </section>


    <!-- Latest products carousel -->
    <section class="container pt-2 pt-sm-3 pt-md-4 pt-lg-5 pb-5 my-xxl-3">
      <div class="d-flex align-items-center justify-content-between gap-4 pt-5 pb-3 mb-1 mb-sm-2 mb-md-3">
        <h2 class="h3 mb-0">Latest products</h2>

        <!-- Prev/next buttons -->
        <div class="d-flex gap-2">
          <button type="button"
            class="btn btn-icon btn-outline-secondary animate-slide-start bg-body rounded-circle me-1" id="prod-prev"
            aria-label="Prev">
            <i class="ci-chevron-left fs-lg animate-target"></i>
          </button>
          <button type="button" class="btn btn-icon btn-outline-secondary animate-slide-end bg-body rounded-circle"
            id="prod-next" aria-label="Next">
            <i class="ci-chevron-right fs-lg animate-target"></i>
          </button>
        </div>
      </div>

      <!-- Carousel -->
      <div class="swiper" data-swiper="{
          &quot;slidesPerView&quot;: 1,
          &quot;spaceBetween&quot;: 24,
          &quot;loop&quot;: true,
          &quot;navigation&quot;: {
            &quot;prevEl&quot;: &quot;#prod-prev&quot;,
            &quot;nextEl&quot;: &quot;#prod-next&quot;
          },
          &quot;breakpoints&quot;: {
            &quot;600&quot;: {
              &quot;slidesPerView&quot;: 2
            }
          }
        }">
        <div class="swiper-wrapper">

          <!-- Product -->
          <div class="swiper-slide">
            <div class="card animate-underline hover-effect-opacity hover-effect-scale rounded-4 overflow-hidden">
              <div class="card-img-top position-relative bg-body-tertiary overflow-hidden">
                <a class="ratio d-block hover-effect-target" style="--cz-aspect-ratio: calc(220 / 304 * 100%)"
                  href="shop-product-marketplace.html">
                  <img src="https://cartzilla-html.createx.studio/assets/img/home/marketplace/products/01.jpg"
                    alt="Image">
                </a>
                <div
                  class="position-absolute top-0 end-0 z-2 hover-effect-target opacity-0 pt-1 pt-sm-0 pe-1 pe-sm-0 mt-2 mt-sm-3 me-2 me-sm-3">
                  <button type="button"
                    class="btn btn-sm btn-icon btn-light bg-light border-0 rounded-circle animate-pulse"
                    aria-label="Add to wishlist">
                    <i class="ci-heart animate-target fs-sm"></i>
                  </button>
                </div>
              </div>
              <div class="card-body p-3">
                <div class="d-flex min-w-0 justify-content-between gap-3 mb-2">
                  <h3 class="nav min-w-0 mb-0">
                    <a class="nav-link fs-base text-truncate p-0" href="shop-product-marketplace.html">
                      <span class="text-truncate animate-target">Gradient 3D abstract shape illustration</span>
                    </a>
                  </h3>
                  <div class="h5 mb-0">$20</div>
                </div>
                <div class="d-flex flex-wrap align-items-center justify-content-between gap-2">
                  <div class="nav align-items-center gap-1 fs-xs">
                    <a class="nav-link fs-xs text-body gap-1 p-0" href="shop-catalog-marketplace.html">
                      <div class="flex-shrink-0 border rounded-circle" style="width: 22px">
                        <div class="ratio ratio-1x1 rounded-circle overflow-hidden">
                          <img src="https://cartzilla-html.createx.studio/assets/img/shop/marketplace/avatars/01.png"
                            alt="Avatar">
                        </div>
                      </div>
                      Createx Studio
                    </a>
                    <div class="text-body-secondary">in</div>
                    <a class="nav-link fs-xs text-body p-0" href="shop-catalog-marketplace.html">Vectors</a>
                  </div>
                  <div class="fs-xs text-body-secondary">5 sales</div>
                </div>
              </div>
            </div>
          </div>

          <!-- Product -->
          <div class="swiper-slide">
            <div class="card animate-underline hover-effect-opacity hover-effect-scale rounded-4 overflow-hidden">
              <div class="card-img-top position-relative bg-body-tertiary overflow-hidden">
                <a class="ratio d-block hover-effect-target" style="--cz-aspect-ratio: calc(220 / 304 * 100%)"
                  href="shop-product-marketplace.html">
                  <img src="https://cartzilla-html.createx.studio/assets/img/home/marketplace/products/02.jpg"
                    alt="Image">
                </a>
                <div
                  class="position-absolute top-0 end-0 z-2 hover-effect-target opacity-0 pt-1 pt-sm-0 pe-1 pe-sm-0 mt-2 mt-sm-3 me-2 me-sm-3">
                  <button type="button"
                    class="btn btn-sm btn-icon btn-light bg-light border-0 rounded-circle animate-pulse"
                    aria-label="Add to wishlist">
                    <i class="ci-heart animate-target fs-sm"></i>
                  </button>
                </div>
              </div>
              <div class="card-body p-3">
                <div class="d-flex min-w-0 justify-content-between gap-2 gap-sm-3 mb-2">
                  <h3 class="nav min-w-0 mb-0">
                    <a class="nav-link fs-base text-truncate p-0" href="shop-product-marketplace.html">
                      <span class="text-truncate animate-target">Beautiful gaming wallpaper 4K perfect for gaming
                        monitors</span>
                    </a>
                  </h3>
                  <div class="h5 mb-0">$13</div>
                </div>
                <div class="d-flex flex-wrap align-items-center justify-content-between gap-2">
                  <div class="nav align-items-center gap-1 fs-xs">
                    <a class="nav-link fs-xs text-body gap-1 p-0" href="shop-catalog-marketplace.html">
                      <div class="flex-shrink-0 border rounded-circle" style="width: 22px">
                        <div class="ratio ratio-1x1 rounded-circle overflow-hidden">
                          <img src="https://cartzilla-html.createx.studio/assets/img/shop/marketplace/avatars/02.png"
                            alt="Avatar">
                        </div>
                      </div>
                      Magic FS
                    </a>
                    <div class="text-body-secondary">in</div>
                    <a class="nav-link fs-xs text-body p-0" href="shop-catalog-marketplace.html">AI images</a>
                  </div>
                  <div class="fs-xs text-body-secondary">17 sales</div>
                </div>
              </div>
            </div>
          </div>

          <!-- Product -->
          <div class="swiper-slide">
            <div class="card animate-underline hover-effect-opacity hover-effect-scale rounded-4 overflow-hidden">
              <div class="card-img-top position-relative bg-body-tertiary overflow-hidden">
                <a class="ratio d-block hover-effect-target" style="--cz-aspect-ratio: calc(220 / 304 * 100%)"
                  href="shop-product-marketplace.html">
                  <img src="https://cartzilla-html.createx.studio/assets/img/home/marketplace/products/03.jpg"
                    alt="Image">
                </a>
                <div
                  class="position-absolute top-0 end-0 z-2 hover-effect-target opacity-0 pt-1 pt-sm-0 pe-1 pe-sm-0 mt-2 mt-sm-3 me-2 me-sm-3">
                  <button type="button"
                    class="btn btn-sm btn-icon btn-light bg-light border-0 rounded-circle animate-pulse"
                    aria-label="Add to wishlist">
                    <i class="ci-heart animate-target fs-sm"></i>
                  </button>
                </div>
              </div>
              <div class="card-body p-3">
                <div class="d-flex min-w-0 justify-content-between gap-2 gap-sm-3 mb-2">
                  <h3 class="nav min-w-0 mb-0">
                    <a class="nav-link fs-base text-truncate p-0" href="shop-product-marketplace.html">
                      <span class="text-truncate animate-target">Glass effect 3D illustartion Cinema 4D</span>
                    </a>
                  </h3>
                  <div class="h5 mb-0">$16</div>
                </div>
                <div class="d-flex flex-wrap align-items-center justify-content-between gap-2">
                  <div class="nav align-items-center gap-1 fs-xs">
                    <a class="nav-link fs-xs text-body gap-1 p-0" href="shop-catalog-marketplace.html">
                      <div class="flex-shrink-0 border rounded-circle" style="width: 22px">
                        <div class="ratio ratio-1x1 rounded-circle overflow-hidden">
                          <img src="https://cartzilla-html.createx.studio/assets/img/shop/marketplace/avatars/03.png"
                            alt="Avatar">
                        </div>
                      </div>
                      MD Studio
                    </a>
                    <div class="text-body-secondary">in</div>
                    <a class="nav-link fs-xs text-body p-0" href="shop-catalog-marketplace.html">3D illustartions</a>
                  </div>
                  <div class="fs-xs text-body-secondary">24 sales</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- Design resources grid -->
    <section class="container pt-2 pt-sm-3 pt-md-4 pt-lg-5 pb-5 my-xxl-3">
      <div class="d-md-flex align-items-center justify-content-between gap-4 mb-1 mb-sm-2 mb-md-3">
        <h2 class="h3">Explore design resources</h2>
        <div class="overflow-x-auto pb-3">
          <ul class="nav nav-pills flex-nowrap gap-2 text-nowrap">
            <li class="nav-item me-1">
              <a class="nav-link active" href="#!">Best sellers</a>
            </li>
            <li class="nav-item me-1">
              <a class="nav-link" href="#!">New arrivals</a>
            </li>
            <li class="nav-item me-1">
              <a class="nav-link" href="#!">Sale items</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Products grid -->
      <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-3 g-sm-4 g-lg-3 g-xl-4">

        <!-- Product -->
        <div class="col">
          <div class="card h-100 animate-underline hover-effect-opacity hover-effect-scale rounded-4 overflow-hidden">
            <div class="card-img-top position-relative bg-body-tertiary overflow-hidden">
              <a class="ratio d-block hover-effect-target" style="--cz-aspect-ratio: calc(220 / 304 * 100%)"
                href="shop-product-marketplace.html">
                <img src="https://cartzilla-html.createx.studio/assets/img/shop/marketplace/12.jpg" alt="Image">
              </a>
              <div
                class="position-absolute top-0 end-0 z-2 hover-effect-target opacity-0 pt-1 pt-sm-0 pe-1 pe-sm-0 mt-2 mt-sm-3 me-2 me-sm-3">
                <button type="button"
                  class="btn btn-sm btn-icon btn-light bg-light border-0 rounded-circle animate-pulse"
                  aria-label="Add to wishlist">
                  <i class="ci-heart animate-target fs-sm"></i>
                </button>
              </div>
            </div>
            <div class="card-body p-3">
              <div class="d-flex min-w-0 justify-content-between gap-2 gap-sm-3 mb-2">
                <h3 class="nav min-w-0 mb-0">
                  <a class="nav-link text-truncate p-0" href="shop-product-marketplace.html">
                    <span class="text-truncate animate-target">Gradient glassmorphism icons set</span>
                  </a>
                </h3>
                <div class="h6 mb-0">$34</div>
              </div>
              <div class="d-flex flex-wrap align-items-center justify-content-between gap-2">
                <div class="nav align-items-center gap-1 fs-xs">
                  <a class="nav-link fs-xs text-body gap-1 p-0" href="shop-catalog-marketplace.html">
                    <div class="flex-shrink-0 border rounded-circle" style="width: 22px">
                      <div class="ratio ratio-1x1 rounded-circle overflow-hidden">
                        <img src="https://cartzilla-html.createx.studio/assets/img/shop/marketplace/avatars/02.png"
                          alt="Avatar">
                      </div>
                    </div>
                    Magic FS
                  </a>
                  <div class="text-body-secondary">in</div>
                  <a class="nav-link fs-xs text-body p-0" href="shop-catalog-marketplace.html">Vectors</a>
                </div>
                <div class="fs-xs text-body-secondary">119 sales</div>
              </div>
            </div>
          </div>
        </div>

        <!-- Product -->
        <div class="col">
          <div class="card h-100 animate-underline hover-effect-opacity hover-effect-scale rounded-4 overflow-hidden">
            <div class="card-img-top position-relative bg-body-tertiary overflow-hidden">
              <a class="ratio d-block hover-effect-target" style="--cz-aspect-ratio: calc(220 / 304 * 100%)"
                href="shop-product-marketplace.html">
                <img src="https://cartzilla-html.createx.studio/assets/img/shop/marketplace/02.jpg" alt="Image">
              </a>
              <div
                class="position-absolute top-0 end-0 z-2 hover-effect-target opacity-0 pt-1 pt-sm-0 pe-1 pe-sm-0 mt-2 mt-sm-3 me-2 me-sm-3">
                <button type="button"
                  class="btn btn-sm btn-icon btn-light bg-light border-0 rounded-circle animate-pulse"
                  aria-label="Add to wishlist">
                  <i class="ci-heart animate-target fs-sm"></i>
                </button>
              </div>
            </div>
            <div class="card-body p-3">
              <div class="d-flex min-w-0 justify-content-between gap-2 gap-sm-3 mb-2">
                <h3 class="nav min-w-0 mb-0">
                  <a class="nav-link text-truncate p-0" href="shop-product-marketplace.html">
                    <span class="text-truncate animate-target">Smart watches series 9 mockup</span>
                  </a>
                </h3>
                <div class="h6 mb-0">$15</div>
              </div>
              <div class="d-flex flex-wrap align-items-center justify-content-between gap-2">
                <div class="nav align-items-center gap-1 fs-xs">
                  <a class="nav-link fs-xs text-body gap-1 p-0" href="shop-catalog-marketplace.html">
                    <div class="flex-shrink-0 border rounded-circle" style="width: 22px">
                      <div class="ratio ratio-1x1 rounded-circle overflow-hidden">
                        <img src="https://cartzilla-html.createx.studio/assets/img/shop/marketplace/avatars/03.png"
                          alt="Avatar">
                      </div>
                    </div>
                    MD Studio
                  </a>
                  <div class="text-body-secondary">in</div>
                  <a class="nav-link fs-xs text-body p-0" href="shop-catalog-marketplace.html">Mockups</a>
                </div>
                <div class="fs-xs text-body-secondary">132 sales</div>
              </div>
            </div>
          </div>
        </div>

        <!-- Product -->
        <div class="col">
          <div class="card h-100 animate-underline hover-effect-opacity hover-effect-scale rounded-4 overflow-hidden">
            <div class="card-img-top position-relative bg-body-tertiary overflow-hidden">
              <a class="ratio d-block hover-effect-target" style="--cz-aspect-ratio: calc(220 / 304 * 100%)"
                href="shop-product-marketplace.html">
                <img src="https://cartzilla-html.createx.studio/assets/img/shop/marketplace/09.jpg" alt="Image">
              </a>
              <div
                class="position-absolute top-0 end-0 z-2 hover-effect-target opacity-0 pt-1 pt-sm-0 pe-1 pe-sm-0 mt-2 mt-sm-3 me-2 me-sm-3">
                <button type="button"
                  class="btn btn-sm btn-icon btn-light bg-light border-0 rounded-circle animate-pulse"
                  aria-label="Add to wishlist">
                  <i class="ci-heart animate-target fs-sm"></i>
                </button>
              </div>
            </div>
            <div class="card-body p-3">
              <div class="d-flex min-w-0 justify-content-between gap-2 gap-sm-3 mb-2">
                <h3 class="nav min-w-0 mb-0">
                  <a class="nav-link text-truncate p-0" href="shop-product-marketplace.html">
                    <span class="text-truncate animate-target">A collection of colorful items</span>
                  </a>
                </h3>
                <div class="h6 mb-0">$21</div>
              </div>
              <div class="d-flex flex-wrap align-items-center justify-content-between gap-2">
                <div class="nav align-items-center gap-1 fs-xs">
                  <a class="nav-link fs-xs text-body gap-1 p-0" href="shop-catalog-marketplace.html">
                    <div class="flex-shrink-0 border rounded-circle" style="width: 22px">
                      <div class="ratio ratio-1x1 rounded-circle overflow-hidden">
                        <img src="https://cartzilla-html.createx.studio/assets/img/shop/marketplace/avatars/04.png"
                          alt="Avatar">
                      </div>
                    </div>
                    Fireby
                  </a>
                  <div class="text-body-secondary">in</div>
                  <a class="nav-link fs-xs text-body p-0" href="shop-catalog-marketplace.html">3D illustration</a>
                </div>
                <div class="fs-xs text-body-secondary">78 sales</div>
              </div>
            </div>
          </div>
        </div>

        <!-- Product -->
        <div class="col">
          <div class="card h-100 animate-underline hover-effect-opacity hover-effect-scale rounded-4 overflow-hidden">
            <div class="card-img-top position-relative bg-body-tertiary overflow-hidden">
              <a class="ratio d-block hover-effect-target" style="--cz-aspect-ratio: calc(220 / 304 * 100%)"
                href="shop-product-marketplace.html">
                <img src="https://cartzilla-html.createx.studio/assets/img/shop/marketplace/13.jpg" alt="Image">
              </a>
              <div
                class="position-absolute top-0 end-0 z-2 hover-effect-target opacity-0 pt-1 pt-sm-0 pe-1 pe-sm-0 mt-2 mt-sm-3 me-2 me-sm-3">
                <button type="button"
                  class="btn btn-sm btn-icon btn-light bg-light border-0 rounded-circle animate-pulse"
                  aria-label="Add to wishlist">
                  <i class="ci-heart animate-target fs-sm"></i>
                </button>
              </div>
            </div>
            <div class="card-body p-3">
              <div class="d-flex min-w-0 justify-content-between gap-2 gap-sm-3 mb-2">
                <h3 class="nav min-w-0 mb-0">
                  <a class="nav-link text-truncate p-0" href="shop-product-marketplace.html">
                    <span class="text-truncate animate-target">Multi device mockup PSD</span>
                  </a>
                </h3>
                <div class="h6 mb-0">$27</div>
              </div>
              <div class="d-flex flex-wrap align-items-center justify-content-between gap-2">
                <div class="nav align-items-center gap-1 fs-xs">
                  <a class="nav-link fs-xs text-body gap-1 p-0" href="shop-catalog-marketplace.html">
                    <div class="flex-shrink-0 border rounded-circle" style="width: 22px">
                      <div class="ratio ratio-1x1 rounded-circle overflow-hidden">
                        <img src="https://cartzilla-html.createx.studio/assets/img/shop/marketplace/avatars/01.png"
                          alt="Avatar">
                      </div>
                    </div>
                    Createx Studio
                  </a>
                  <div class="text-body-secondary">in</div>
                  <a class="nav-link fs-xs text-body p-0" href="shop-catalog-marketplace.html">Mockups</a>
                </div>
                <div class="fs-xs text-body-secondary">43 sales</div>
              </div>
            </div>
          </div>
        </div>

        <!-- Product -->
        <div class="col">
          <div class="card h-100 animate-underline hover-effect-opacity hover-effect-scale rounded-4 overflow-hidden">
            <div class="card-img-top position-relative bg-body-tertiary overflow-hidden">
              <a class="ratio d-block hover-effect-target" style="--cz-aspect-ratio: calc(220 / 304 * 100%)"
                href="shop-product-marketplace.html">
                <img src="https://cartzilla-html.createx.studio/assets/img/shop/marketplace/14.jpg" alt="Image">
              </a>
              <div
                class="position-absolute top-0 end-0 z-2 hover-effect-target opacity-0 pt-1 pt-sm-0 pe-1 pe-sm-0 mt-2 mt-sm-3 me-2 me-sm-3">
                <button type="button"
                  class="btn btn-sm btn-icon btn-light bg-light border-0 rounded-circle animate-pulse"
                  aria-label="Add to wishlist">
                  <i class="ci-heart animate-target fs-sm"></i>
                </button>
              </div>
            </div>
            <div class="card-body p-3">
              <div class="d-flex min-w-0 justify-content-between gap-2 gap-sm-3 mb-2">
                <h3 class="nav min-w-0 mb-0">
                  <a class="nav-link text-truncate p-0" href="shop-product-marketplace.html">
                    <span class="text-truncate animate-target">Gradient UI/UX landing page</span>
                  </a>
                </h3>
                <div class="h6 mb-0">$30</div>
              </div>
              <div class="d-flex flex-wrap align-items-center justify-content-between gap-2">
                <div class="nav align-items-center gap-1 fs-xs">
                  <a class="nav-link fs-xs text-body gap-1 p-0" href="shop-catalog-marketplace.html">
                    <div class="flex-shrink-0 border rounded-circle" style="width: 22px">
                      <div class="ratio ratio-1x1 rounded-circle overflow-hidden">
                        <img src="https://cartzilla-html.createx.studio/assets/img/shop/marketplace/avatars/04.png"
                          alt="Avatar">
                      </div>
                    </div>
                    Fireby
                  </a>
                  <div class="text-body-secondary">in</div>
                  <a class="nav-link fs-xs text-body p-0" href="shop-catalog-marketplace.html">Templates</a>
                </div>
                <div class="fs-xs text-body-secondary">247 sales</div>
              </div>
            </div>
          </div>
        </div>

        <!-- Product -->
        <div class="col">
          <div class="card h-100 animate-underline hover-effect-opacity hover-effect-scale rounded-4 overflow-hidden">
            <div class="card-img-top position-relative bg-body-tertiary overflow-hidden">
              <a class="ratio d-block hover-effect-target" style="--cz-aspect-ratio: calc(220 / 304 * 100%)"
                href="shop-product-marketplace.html">
                <img src="https://cartzilla-html.createx.studio/assets/img/shop/marketplace/03.jpg" alt="Image">
              </a>
              <div
                class="position-absolute top-0 end-0 z-2 hover-effect-target opacity-0 pt-1 pt-sm-0 pe-1 pe-sm-0 mt-2 mt-sm-3 me-2 me-sm-3">
                <button type="button"
                  class="btn btn-sm btn-icon btn-light bg-light border-0 rounded-circle animate-pulse"
                  aria-label="Add to wishlist">
                  <i class="ci-heart animate-target fs-sm"></i>
                </button>
              </div>
            </div>
            <div class="card-body p-3">
              <div class="d-flex min-w-0 justify-content-between gap-2 gap-sm-3 mb-2">
                <h3 class="nav min-w-0 mb-0">
                  <a class="nav-link text-truncate p-0" href="shop-product-marketplace.html">
                    <span class="text-truncate animate-target">3D box mockup bold rebrand</span>
                  </a>
                </h3>
                <div class="h6 mb-0">$16</div>
              </div>
              <div class="d-flex flex-wrap align-items-center justify-content-between gap-2">
                <div class="nav align-items-center gap-1 fs-xs">
                  <a class="nav-link fs-xs text-body gap-1 p-0" href="shop-catalog-marketplace.html">
                    <div class="flex-shrink-0 border rounded-circle" style="width: 22px">
                      <div class="ratio ratio-1x1 rounded-circle overflow-hidden">
                        <img src="https://cartzilla-html.createx.studio/assets/img/shop/marketplace/avatars/01.png"
                          alt="Avatar">
                      </div>
                    </div>
                    Createx Studio
                  </a>
                  <div class="text-body-secondary">in</div>
                  <a class="nav-link fs-xs text-body p-0" href="shop-catalog-marketplace.html">Mockups</a>
                </div>
                <div class="fs-xs text-body-secondary">56 sales</div>
              </div>
            </div>
          </div>
        </div>

        <!-- Product -->
        <div class="col">
          <div class="card h-100 animate-underline hover-effect-opacity hover-effect-scale rounded-4 overflow-hidden">
            <div class="card-img-top position-relative bg-body-tertiary overflow-hidden">
              <a class="ratio d-block hover-effect-target" style="--cz-aspect-ratio: calc(220 / 304 * 100%)"
                href="shop-product-marketplace.html">
                <img src="https://cartzilla-html.createx.studio/assets/img/shop/marketplace/06.jpg" alt="Image">
              </a>
              <div
                class="position-absolute top-0 end-0 z-2 hover-effect-target opacity-0 pt-1 pt-sm-0 pe-1 pe-sm-0 mt-2 mt-sm-3 me-2 me-sm-3">
                <button type="button"
                  class="btn btn-sm btn-icon btn-light bg-light border-0 rounded-circle animate-pulse"
                  aria-label="Add to wishlist">
                  <i class="ci-heart animate-target fs-sm"></i>
                </button>
              </div>
            </div>
            <div class="card-body p-3">
              <div class="d-flex min-w-0 justify-content-between gap-2 gap-sm-3 mb-2">
                <h3 class="nav min-w-0 mb-0">
                  <a class="nav-link text-truncate p-0" href="shop-product-marketplace.html">
                    <span class="text-truncate animate-target">A stunning set of tablet pro mockups</span>
                  </a>
                </h3>
                <div class="h6 mb-0">$18</div>
              </div>
              <div class="d-flex flex-wrap align-items-center justify-content-between gap-2">
                <div class="nav align-items-center gap-1 fs-xs">
                  <a class="nav-link fs-xs text-body gap-1 p-0" href="shop-catalog-marketplace.html">
                    <div class="flex-shrink-0 border rounded-circle" style="width: 22px">
                      <div class="ratio ratio-1x1 rounded-circle overflow-hidden">
                        <img src="https://cartzilla-html.createx.studio/assets/img/shop/marketplace/avatars/03.png"
                          alt="Avatar">
                      </div>
                    </div>
                    MD Studio
                  </a>
                  <div class="text-body-secondary">in</div>
                  <a class="nav-link fs-xs text-body p-0" href="shop-catalog-marketplace.html">Mockups</a>
                </div>
                <div class="fs-xs text-body-secondary">33 sales</div>
              </div>
            </div>
          </div>
        </div>

        <!-- Product -->
        <div class="col">
          <div class="card h-100 animate-underline hover-effect-opacity hover-effect-scale rounded-4 overflow-hidden">
            <div class="card-img-top position-relative bg-body-tertiary overflow-hidden">
              <a class="ratio d-block hover-effect-target" style="--cz-aspect-ratio: calc(220 / 304 * 100%)"
                href="shop-product-marketplace.html">
                <img src="https://cartzilla-html.createx.studio/assets/img/shop/marketplace/18.jpg" alt="Image">
              </a>
              <div
                class="position-absolute top-0 end-0 z-2 hover-effect-target opacity-0 pt-1 pt-sm-0 pe-1 pe-sm-0 mt-2 mt-sm-3 me-2 me-sm-3">
                <button type="button"
                  class="btn btn-sm btn-icon btn-light bg-light border-0 rounded-circle animate-pulse"
                  aria-label="Add to wishlist">
                  <i class="ci-heart animate-target fs-sm"></i>
                </button>
              </div>
            </div>
            <div class="card-body p-3">
              <div class="d-flex min-w-0 justify-content-between gap-2 gap-sm-3 mb-2">
                <h3 class="nav min-w-0 mb-0">
                  <a class="nav-link text-truncate p-0" href="shop-product-marketplace.html">
                    <span class="text-truncate animate-target">House plants website template</span>
                  </a>
                </h3>
                <div class="h6 mb-0">$35</div>
              </div>
              <div class="d-flex flex-wrap align-items-center justify-content-between gap-2">
                <div class="nav align-items-center gap-1 fs-xs">
                  <a class="nav-link fs-xs text-body gap-1 p-0" href="shop-catalog-marketplace.html">
                    <div class="flex-shrink-0 border rounded-circle" style="width: 22px">
                      <div class="ratio ratio-1x1 rounded-circle overflow-hidden">
                        <img src="https://cartzilla-html.createx.studio/assets/img/shop/marketplace/avatars/02.png"
                          alt="Avatar">
                      </div>
                    </div>
                    Magic FS
                  </a>
                  <div class="text-body-secondary">in</div>
                  <a class="nav-link fs-xs text-body p-0" href="shop-catalog-marketplace.html">Templates</a>
                </div>
                <div class="fs-xs text-body-secondary">192 sales</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- View all button -->
      <div class="text-center pt-3 mt-2 mt-sm-3">
        <a class="btn btn-lg btn-dark rounded-pill animate-slide-end" href="shop-catalog-marketplace.html">
          Explore all resources
          <i class="ci-chevron-right animate-target fs-lg ms-1 me-n1"></i>
        </a>
      </div>
    </section>


    <!-- Collections -->
    <section class="container py-2 py-sm-3 py-md-4 py-lg-5 my-xxl-3">
      <h2 class="h3 pb-1 pb-sm-2 pb-md-3">Best collections</h2>
      <div class="row row-cols-2 row-cols-md-4 gy-4 gx-3 gx-sm-4 gx-md-3 gx-xl-4">

        <!-- Collection -->
        <div class="col">
          <div class="position-relative animate-underline">
            <div class="ratio bg-body-tertiary rounded overflow-hidden mb-1"
              style="--cz-aspect-ratio: calc(160 / 306 * 100%)">
              <img src="https://cartzilla-html.createx.studio/assets/img/home/marketplace/collections/01.jpg"
                alt="Image">
            </div>
            <div class="d-flex gap-1">
              <div class="ratio bg-body-tertiary rounded overflow-hidden"
                style="--cz-aspect-ratio: calc(160 / 151 * 100%)">
                <img src="https://cartzilla-html.createx.studio/assets/img/home/marketplace/collections/02.jpg"
                  alt="Image">
              </div>
              <div class="ratio bg-body-tertiary rounded overflow-hidden"
                style="--cz-aspect-ratio: calc(160 / 151 * 100%)">
                <img src="https://cartzilla-html.createx.studio/assets/img/home/marketplace/collections/03.jpg"
                  alt="Image">
              </div>
            </div>
            <div class="d-flex min-w-0 justify-content-between gap-2 gap-sm-3 pt-3">
              <h3 class="nav min-w-0 mb-0">
                <a class="nav-link fs-base text-truncate stretched-link p-0" href="shop-catalog-marketplace.html">
                  <span class="text-truncate animate-target">Vectors</span>
                </a>
              </h3>
              <button type="button"
                class="btn btn-sm btn-icon btn-light bg-transparent border-0 rounded-0 animate-pulse position-relative z-3"
                aria-label="Add to wishlist">
                <i class="ci-heart animate-target fs-sm"></i>
              </button>
            </div>
            <div class="fs-xs text-body-secondary">546 resources</div>
          </div>
        </div>

        <!-- Collection -->
        <div class="col">
          <div class="position-relative animate-underline">
            <div class="ratio bg-body-tertiary rounded overflow-hidden mb-1"
              style="--cz-aspect-ratio: calc(160 / 306 * 100%)">
              <img src="https://cartzilla-html.createx.studio/assets/img/home/marketplace/collections/04.jpg"
                alt="Image">
            </div>
            <div class="d-flex gap-1">
              <div class="ratio bg-body-tertiary rounded overflow-hidden"
                style="--cz-aspect-ratio: calc(160 / 151 * 100%)">
                <img src="https://cartzilla-html.createx.studio/assets/img/home/marketplace/collections/05.jpg"
                  alt="Image">
              </div>
              <div class="ratio bg-body-tertiary rounded overflow-hidden"
                style="--cz-aspect-ratio: calc(160 / 151 * 100%)">
                <img src="https://cartzilla-html.createx.studio/assets/img/home/marketplace/collections/06.jpg"
                  alt="Image">
              </div>
            </div>
            <div class="d-flex min-w-0 justify-content-between gap-2 gap-sm-3 pt-3">
              <h3 class="nav min-w-0 mb-0">
                <a class="nav-link fs-base text-truncate stretched-link p-0" href="shop-catalog-marketplace.html">
                  <span class="text-truncate animate-target">Glass effect</span>
                </a>
              </h3>
              <button type="button"
                class="btn btn-sm btn-icon btn-light bg-transparent border-0 rounded-0 animate-pulse position-relative z-3"
                aria-label="Add to wishlist">
                <i class="ci-heart animate-target fs-sm"></i>
              </button>
            </div>
            <div class="fs-xs text-body-secondary">112 resources</div>
          </div>
        </div>

        <!-- Collection -->
        <div class="col">
          <div class="position-relative animate-underline">
            <div class="ratio bg-body-tertiary rounded overflow-hidden mb-1"
              style="--cz-aspect-ratio: calc(160 / 306 * 100%)">
              <img src="https://cartzilla-html.createx.studio/assets/img/home/marketplace/collections/07.jpg"
                alt="Image">
            </div>
            <div class="d-flex gap-1">
              <div class="ratio bg-body-tertiary rounded overflow-hidden"
                style="--cz-aspect-ratio: calc(160 / 151 * 100%)">
                <img src="https://cartzilla-html.createx.studio/assets/img/home/marketplace/collections/08.jpg"
                  alt="Image">
              </div>
              <div class="ratio bg-body-tertiary rounded overflow-hidden"
                style="--cz-aspect-ratio: calc(160 / 151 * 100%)">
                <img src="https://cartzilla-html.createx.studio/assets/img/home/marketplace/collections/09.jpg"
                  alt="Image">
              </div>
            </div>
            <div class="d-flex min-w-0 justify-content-between gap-2 gap-sm-3 pt-3">
              <h3 class="nav min-w-0 mb-0">
                <a class="nav-link fs-base text-truncate stretched-link p-0" href="shop-catalog-marketplace.html">
                  <span class="text-truncate animate-target">Device mockups</span>
                </a>
              </h3>
              <button type="button"
                class="btn btn-sm btn-icon btn-light bg-transparent border-0 rounded-0 animate-pulse position-relative z-3"
                aria-label="Add to wishlist">
                <i class="ci-heart animate-target fs-sm"></i>
              </button>
            </div>
            <div class="fs-xs text-body-secondary">305 resources</div>
          </div>
        </div>

        <!-- Collection -->
        <div class="col">
          <div class="position-relative animate-underline">
            <div class="ratio bg-body-tertiary rounded overflow-hidden mb-1"
              style="--cz-aspect-ratio: calc(160 / 306 * 100%)">
              <img src="https://cartzilla-html.createx.studio/assets/img/home/marketplace/collections/10.jpg"
                alt="Image">
            </div>
            <div class="d-flex gap-1">
              <div class="ratio bg-body-tertiary rounded overflow-hidden"
                style="--cz-aspect-ratio: calc(160 / 151 * 100%)">
                <img src="https://cartzilla-html.createx.studio/assets/img/home/marketplace/collections/11.jpg"
                  alt="Image">
              </div>
              <div class="ratio bg-body-tertiary rounded overflow-hidden"
                style="--cz-aspect-ratio: calc(160 / 151 * 100%)">
                <img src="https://cartzilla-html.createx.studio/assets/img/home/marketplace/collections/12.jpg"
                  alt="Image">
              </div>
            </div>
            <div class="d-flex min-w-0 justify-content-between gap-2 gap-sm-3 pt-3">
              <h3 class="nav min-w-0 mb-0">
                <a class="nav-link fs-base text-truncate stretched-link p-0" href="shop-catalog-marketplace.html">
                  <span class="text-truncate animate-target">Mockup resources</span>
                </a>
              </h3>
              <button type="button"
                class="btn btn-sm btn-icon btn-light bg-transparent border-0 rounded-0 animate-pulse position-relative z-3"
                aria-label="Add to wishlist">
                <i class="ci-heart animate-target fs-sm"></i>
              </button>
            </div>
            <div class="fs-xs text-body-secondary">289 resources</div>
          </div>
        </div>
      </div>

      <!-- View all button -->
      <div class="text-center pt-3 mt-2 mt-sm-3 pb-5">
        <a class="btn btn-lg btn-dark rounded-pill animate-slide-end" href="#!">
          Explore all collections
          <i class="ci-chevron-right animate-target fs-lg ms-1 me-n1"></i>
        </a>
      </div>
    </section>
  </main>

{% include "includes/footer.html" %}